{% extends "base_layout.html" %}

{% block fonts %}
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900&display=swap" rel="stylesheet">
{% endblock %}

{% block title_wrapper %}
    {% if get_locale() == "fr_CA" %}
    <title>PC NouvellesPro pour RP</title>
    {% else %}
    <title>CP NewsPro for PR</title>
    {% endif %}
{% endblock %}

{% block logo %}
{% include 'logo.html' %}
{% include 'logo-additional.html' %}
{% endblock %}

{% block layout_script %}

{% if config.PRODUCTFRUITS_WORKSPACE_CODE and auth_user %}
<script type="text/javascript">
    (function(w,d,u){
        w.$productFruits=w.$productFruits||[];
        w.productFruits=w.productFruits||{};w.productFruits.scrV='2';
        let a=d.getElementsByTagName('head')[0];let r=d.createElement('script');r.async=1;r.src=u;a.appendChild(r);
    })(window,document,'https://app.productfruits.com/static/script.js');
	$productFruits.push(['init', '{{ config.PRODUCTFRUITS_WORKSPACE_CODE }}', '{{ get_locale()[:2] }}', {
        username: '{{ auth_user.email }}',
        firstname: '{{ auth_user.first_name }}',
        lastname: '{{ auth_user.last_name }}',
        role: '{{ auth_user.user_type }}',
        props: {
            company: '{{ get_user_profile_data().companyName }}',
            phone: '{{ auth_user.phone }}',
            mobile: '{{ auth_user.mobile }}',
        },
    }]);
</script>
{% elif config.PRODUCTFRUITS_WORKSPACE_CODE %}
<script type="text/javascript">
    function makeid(length) {
        let result = '';
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let charactersLength = characters.length;
        for (var i = 0; i < length; i++) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        return result;
    }

    let generatedUserName = localStorage.getItem('user');
    if (!generatedUserName) {
        generatedUserName = makeid(8);
        localStorage.setItem('user', generatedUserName);
    }

    (function(w,d,u){
        w.$productFruits=w.$productFruits||[];
        w.productFruits=w.productFruits||{};w.productFruits.scrV='2';
        let a=d.getElementsByTagName('head')[0];let r=d.createElement('script');r.async=1;r.src=u;a.appendChild(r);
    })(window,document,'https://app.productfruits.com/static/script.js');
	$productFruits.push(['init', '{{ config.PRODUCTFRUITS_WORKSPACE_CODE }}', '{{ get_locale()[:2] }}', {
        username: generatedUserName,
        role: 'anonymous',
    }]);
</script>
{% endif %}

{% endblock %}

{% include "firebase_config.html" %}
<script>
    window.prManagerEnabled = {{ config.PR_MANAGER_SIDENAV_ENABLED | safe }};
</script>
